body{
  background:black;
  color:white;
  font-family:sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

.card{
  text-align:center;
  width:90%;
  max-width:400px;
}

input{
  width:100%;
  padding:15px;
  font-size:16px;
  margin:10px 0;
}

button{
  width:100%;
  padding:15px;
  font-size:16px;
  background:#00c853;
  color:white;
  border:none;
}

.circle{
  margin-top:20px;
  width:120px;
  height:120px;
  border-radius:50%;
  border:6px solid #00c853;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30px;
}
